
.lists__list {
  display: flex; /* Используем flexbox для выравнивания карточек в строку*/
  gap: 40px; /* промежуток между карточками */
  flex-wrap: wrap; /*Если карточки не влезут в строку, то перенос на новую*/
}
.lists__item {padding: 20px0; /* Отступы сверху и снизу 40px, слева и справа 0 */
  display: flex; /* Используем flexbox для выравнивания карточек в строку*/
  flex-direction: column; /* Элементы внутри карточки располагаем в колонку */
  justify-content: space-between;
  align-items: center; /* Центрируемэлементыпогоризонтали */
  border: 1px solid rgba(20, 16, 36, 0.2); /* задаем рамку с толщиной 1рх и цветом с прозрачностью */
  border-radius: 10px; /* скруглениеугловна 20px*/
  text-align: center; /* Центрируемтекст */
  width: 180px; /* Ширина карточки */
  height: 280px; /* Высота карточки */
  transition: transform 0.3s ease-out; /* Плавный переход приувеличении карточки */
}
.lists__item:hover {
  background: #281b10; /* Цвет фона при наведении */
  color: #fff; /* Цвет текста при наведении */
  transform: scale(1.05); /* Увеличение карточки при наведении */
}
.lists__name {
    font-weight: 600; /*толщинашрифта */
    font-size: 30px; /* Размершрифта */
}
.lists__description {
    font-style: italic;
}
.lists__wordcount {
    margin-top: 5px;
}
.lists__button {
    margin: 5px;
  max-width: 280px; /* Максимальная ширина кнопки «Оставить заявку */
  height: 79px; /* Высотакнопки */
}
.lists__buttons {
    padding-top: 20px; /* Отступсверху */
    display: flex; /* Используем flex для выравнивания кнопок */
  gap: 30px; /* Промежуток между кнопками */
  justify-content: center; /* Центрируем кнопки по горизонтали */
}
.lists__btn {
  background-color: #211b0d; /* Цветфонакнопокфильтрации */
  color: #fff;
  border-radius: 10px; /* Скруглениеугловкнопокфильтрации*/
  height: 40px; /* Высотакнопок */
  border: none; /* Убираемрамку */
}
.lists__btn:hover,
.lists__btn:focus,
.lists__btn:active {
  background-color: #ffb73f; /* Цветфонапринаведении, фокусеиактивации */
    color: #000000; /* Цвет текста при наведении, фокусе и активации */
}
.hidden {
    display: none; /* Скрываем элементы с этим классом */
}