.main{
    background-color: #f8f2e2;
    padding: 10px;
}
.promo__item{
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f0dac5;
    color: black;
    list-style-type: none;
}
.promo__title{
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
}
.promo__link{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: black;
}
.promo__list{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
}
.words__title{
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
}
.translate__title{
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
    padding-top: 15px;
}
.words {
    background-color: #faebd7;
}
.translate {
    background-color: #faebd7;
    width: 750px;
    margin-top: 20px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.promo__item {
 transition: transform 0.3s;
 transition: box-shadow 0.3s;
}
.promo__item:hover {
 transform: scale(1.03);
  box-shadow: 0 8px 16px 0
rgba(0,0,0,0.2);
}
.translate {
 transition: outline 0.3s;
}
.translate:focus {
 outline: 2px solid #218838;
}
.words__list {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.words__word {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 20px 5px #f8cca9;

}
.words__word--word {
    font-family: 'KaiTi';
    font-size: 70px;
    color: #6d3f04;
    text-align: center;
    margin:  15px;
}
.words__word--pinyin {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.words__word--translate {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.words__word--hanzi {
    margin-bottom: 5px;
    text-align: center;
}